Repository xlcnd/isbnlib-porbase, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, core

add badge 'github'
  README.rst
Labels: repo

qa -- fix README
  README.rst
Labels: repo

clean 'Authors'
  isbnlib_porbase/_porbase.py
Labels: core

check coverage
  isbnlib_porbase/_porbase.py
  isbnlib_porbase/test/test_metadata.py
  tox.ini
Labels: repo, test, core

cleaner fields
  CHANGES.txt
  isbnlib_porbase/_porbase.py
  tox.ini
Labels: repo, core

release 1.0.1
  CHANGES.txt
Labels: repo

init v1.0.2
  .appveyor.yml
  .travis.yml
  CHANGES.txt
  isbnlib_porbase/__init__.py
  setup.py
Labels: repo, core

update
  .gitignore
  isbnlib_porbase/.vscode/settings.json
Labels: repo

create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: none

add Github release
  .appveyor.yml
  .editorconfig
  .github/workflows/create-release.yaml
  .travis.yml
  README.rst
  SECURITY.md
  isbnlib_porbase/test/test_metadata.py
  requirements-appveyor.in
  requirements-appveyor.txt
  requirements-dev.in
  setup.cfg
  setup.py
  tox-dev.ini
  tox.ini
Labels: repo, test

[WIP] switch to pytest
  CHANGES.txt
Labels: repo

simplify project
  .gitignore
  release.md
Labels: repo

simplify project
  .gitignore
Labels: repo

[WIP] switch to pytest
  .github/workflows/basictests.yml
Labels: none

[WIP] switch to pytest
  .github/workflows/basictests.yml
Labels: none

[WIP] switch to pytest
  .github/workflows/basictests.yml
Labels: none

switch to pytest
  .github/workflows/basictests.yml
Labels: none

simplify project
  .project
  .style.yapf
  .yamllint
Labels: repo

[qabot] update reqs
  requirements-dev.txt
Labels: repo

[qabot] update docs
  CONTRIBUTING.md
Labels: repo

[qabot] update docs
  CONTRIBUTING.md
Labels: repo

require isbnlib-3.10.9+
  setup.py
Labels: repo

require isbnlib-3.10.9+
  CHANGES.txt
  release.md
Labels: repo

release 1.0.2
  CHANGES.txt
Labels: repo

init v1.0.3
  CHANGES.txt
  isbnlib_porbase/__init__.py
  release.md
  setup.py
Labels: repo, core

require isbnlib-3.10.9+
  requirements.txt
  tox.ini
Labels: repo

simplify project
  setup.cfg
Labels: repo

simplify project
  tox-dev.ini
Labels: repo

add install instructions
  README.rst
Labels: repo

[qabot] add dependabot
  .github/dependabot.yml
Labels: none

update copyright
  setup.py
Labels: repo

[qabot] update reqs
  requirements-dev.txt
Labels: repo

add 'py3.10' to 'basictests'
  .github/workflows/basictests.yml
Labels: none

[qa] update
  requirements-dev.txt
Labels: repo

.github/labeler.yml:

repo:
  - ./*

test:
  - isbnlib_porbase/test/*

core:
  - isbnlib_porbase/*
